body {
  margin: 0;
  background-color: #0f0f1b;
}

header {
  height: 50px;
  padding-top: 25px;
  background-color: #565a75;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(0, 0, 0);
}
h1{
  color:#c6b7be;
}
button{
  border-radius: 10px;
  font-size: 20px;
  width: 120px;
  backdrop-filter: blur(8px);
  user-select: none;
  background-image: linear-gradient(to right, #0f0f1b, #fafbf6, #c6b7be);
  cursor: pointer;
}

button:hover{
  transform: translateY(-5px);
  background-image: linear-gradient(to right #0f0f1b #fafbf6);
}

div{
  color: #6f7391;
  font-size: 25px;
}
a{
  text-decoration: none;
  color: #b9b9b6;
}